.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    body{
      background-color: hsl(235, 18%, 26%);
    }
    .div1{
      
      background-color: white;
      display: flex;
      width: 49%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 25px;
      padding: 1%;
  
    }
    
    img{
      width: 100%;
      border: 10%;
      height: 100%;
      
    }

    form{
      width: 70%;
      margin: 5%;
      
    }
    h1{
      font-family:"Roboto";
      color: hsl(234, 29%, 20%);
    }
    p{
      font-family:"Roboto";
      color: hsl(234, 29%, 20%);
    }
    label{
      font-family:"Roboto";
      color: hsl(234, 29%, 20%);
      display:contents;
      cursor: pointer;
    }
   h6{
    font-family:"Roboto";
    color: hsl(234, 29%, 20%);
    margin-top: 35px;
   }
   input[type="email"]{
    border-color:rgb(234, 234, 234);
    border-radius: 5px;
    margin-bottom: 4%;
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 33%;
    margin-top: -20px;
    
   }
   input[type="submit"]{
    border-radius: 5px;
    background-color:hsl(234, 29%, 20%) ;
    color: white;
    padding-left: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 15%;
    cursor: pointer;
  }
  input[type="checkbox"] {
    
    position:relative;
    width: 18px;
    height: 18px;
    top: 5px;
    color: white;
    border: 1px solid hsl(4, 100%, 67%);
    border-radius: 14px;
    appearance: none;
    cursor: pointer;
    &::before {
      position: absolute;
      content: '';
      bottom: 4px;
      left: 5px;
      width: 3px;
      height: 7px;
      border-style: solid;
      border-color:white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    &:checked {
      color: white;
      border-color: hsl(4, 100%, 67%);
      background:hsl(4, 100%, 67%);
    }
  }
  
  
 

